<header class="header">
  <h1 class="highlight">Leaderboard</h1>
</header>

<section id="leaderboard">
{{#if sortDetectives}}
  <p>Top 25 players by best Detective score, <a href="/detective/leaderboard?sort=impostor">see best Impostors</a>.</p>
{{else if sortImpostors}}
  <p>Top 25 players by best Impostor score, <a href="/detective/leaderboard?sort=detective">see best Detectives</a>.</p>
{{else}}
  <p>Sort the players by <a href="/detective/leaderboard?sort=impostor">best Impostors</a> or <a href="/detective/leaderboard?sort=detective">best Detectives</a>.</p>
{{/if}}
<p class="note">Note: The leaderboard is an experimental feature (and <a href="https://github.com/fourtonfish/detective/issues/13">currently broken</a>!) and results <strong>might be reset</strong> during development. In the future, the leaderboard should be reset on a weekly basis. <strong>If you're not seeing updated results, please reload the browser!</strong></p>
<hr/>
<table id="leaderboard-table">
  <thead>
    <tr>
      <th>User</th>
      <th class="center-text">Total games</th>
<!--
      <th class="center-text">Games as Detective</th>
-->
      <th class="center-text">Won as Detective</th>
<!--
      <th class="center-text">Games as Impostor</th>
-->
      <th class="center-text">Won as Impostor</th>
    </tr>
  </thead>
  <tbody>
  {{#each rows}}
    <tr class="shifted-short">
      <td><a href="https://twitter.com/{{this.user_name}}">@{{this.user_name}}</a></td>
      <td class="center-text">{{this.total_games}}</td>
<!--
      <td class="center-text">{{this.played_as_detective}}</td>
-->
      <td class="center-text">{{this.won_as_detective}}</td>
<!--
      <td class="center-text">{{this.played_as_impostor}}</td>
-->
      <td class="center-text">{{this.won_as_impostor}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<hr/>
</section>
<footer class="footer">
  <p class="center-text">Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>. Return <a href="../detective">to the main page</a>.</p>
</footer>
<script src="js/leaderboard.min.js"></script>
