<header class="header">
  <h1 class="highlight">Leaderboard</h1>
</header>

<section id="leaderboard">
{{#if sortDetectives}}
  <p>Top 25 players (out of {{totalPlayerCount}}) by best Detective score. <a href="/leaderboard?sort=impostor">See best Impostors.</a></p>
{{else if sortImpostors}}
  <p>Top 25 players (out of {{totalPlayerCount}}) by best Impostor score. <a href="/leaderboard?sort=detective">See best Detectives.</a></p>
{{else}}
  <p>Sort the players by <a href="/leaderboard?sort=impostor">best Impostors</a> or <a href="/leaderboard?sort=detective">best Detectives</a>.</p>
{{/if}}
<p class="note">Note: The leaderboard is an <a href="https://github.com/stefanbohacek/detective/issues/13">experimental feature</a>.</p>
<hr/>
<table id="leaderboard-table">
  <thead>
    <tr>
      <th>User</th>
      <th class="center-text">Total games</th>
<!--
      <th class="center-text">Games as Detective</th>
-->
      <th class="center-text">Won as Detective</th>
<!--
      <th class="center-text">Games as Impostor</th>
-->
      <th class="center-text">Won as Impostor</th>
    </tr>
  </thead>
  <tbody>
  {{#each rows}}
    <tr class="shifted-short">
      <td><a href="https://twitter.com/{{this.user_name}}">@{{this.user_name}}</a></td>
      <td class="center-text">{{this.total_games}}</td>
<!--
      <td class="center-text">{{this.played_as_detective}}</td>
-->
      <td class="center-text">{{this.won_as_detective}}</td>
<!--
      <td class="center-text">{{this.played_as_impostor}}</td>
-->
      <td class="center-text">{{this.won_as_impostor}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<hr/>
</section>
<footer class="footer">
  <p class="center-text">Created by <a href="https://twitter.com/stefanbohacek">@stefanbohacek</a>. Return <a href="https://detective.stefanbohacek.dev/">to the main page</a>.</p>
</footer>
<script src="js/leaderboard.min.js"></script>
